APP_ENV=local

IDENTITY_POSTGRES_DB_NAME=identity
IDENTITY_POSTGRES_DB_HOST=127.0.0.1
IDENTITY_POSTGRES_DB_PORT=5432
IDENTITY_POSTGRES_DB_USER=admin
IDENTITY_POSTGRES_DB_PASSWORD=adminpassword
IDENTITY_POSTGRES_DB_SSL_MODE=disable

IDENTITY_JWT_SECRET=my_32_byte_secret_key_for_jwt_!!
IDENTITY_JWT_ENCRYPTION_KEY=my_32_byte_secret_key_for_aes_!!
IDENTITY_JWT_ACCESS_TOKEN_TTL=900
IDENTITY_JWT_REFRESH_TOKEN_TTL=604800
IDENTITY_JWT_ISSUER=ygz

CACHE_REDIS_DB=0
CACHE_REDIS_HOST=localhost
CACHE_REDIS_PORT=6379
CACHE_REDIS_USER=""
CACHE_REDIS_PASSWORD=""

MESSAGE_QUEUE_RABBITMQ_PORT=5672
MESSAGE_QUEUE_RABBITMQ_USER=guest
MESSAGE_QUEUE_RABBITMQ_PASSWORD=guest

MAIL_SENDER=
MAIL_PROVIDER_NAME=
MAIL_PROVIDER_GOOGLE_APP_PASSWORD=

GRAFANA_PORT=3000
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
LOKI_PORT=3100