APP_ENV=local

IDENTITY_POSTGRES_DB_NAME=identity
IDENTITY_POSTGRES_DB_HOST=127.0.0.1
IDENTITY_POSTGRES_DB_PORT=5432
IDENTITY_POSTGRES_DB_USER=admin
IDENTITY_POSTGRES_DB_PASSWORD=adminpassword
IDENTITY_POSTGRES_DB_SSL_MODE=disable

IDENTITY_JWT_ACCESS_SECRET=your_jwt_access_secret_key
IDENTITY_JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
IDENTITY_JWT_ACCESS_TTL=15m
IDENTITY_JWT_REFRESH_TTL=7d
